<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stockappsEntities" connectionString="metadata=res://*/StockApps.csdl|res://*/StockApps.ssdl|res://*/StockApps.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=d220691;database=stockapps;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>